Repository vcmi/vcmi, pull requests merged in 2018-04, with the labels that each got.

#439 Enable Limiter nesting with AllOf, AnyOf, NoneOf
  ChangeLog
  config/schemas/bonus.json
  lib/HeroBonus.cpp
  lib/HeroBonus.h
  lib/JsonNode.cpp
  lib/JsonNode.h
  lib/registerTypes/RegisterTypes.h
  lib/serializer/CSerializer.h
Labels: lib

#441 Configure session parameters in settings.json
  client/CMT.cpp
  client/CPlayerInterface.cpp
  config/schemas/settings.json
  include/vstd/StringUtils.h
  launcher/mainwindow_moc.cpp
  launcher/settingsView/csettingsview_moc.cpp
  launcher/settingsView/csettingsview_moc.h
  launcher/settingsView/csettingsview_moc.ui
  lib/CConfigHandler.cpp
  lib/CConfigHandler.h
  lib/CMakeLists.txt
  lib/vstd/StringUtils.cpp
Labels: client, lib

#444 Code Style: formatting and refactoring of VCAI code
  AI/VCAI/AIUtility.cpp
  AI/VCAI/AIUtility.h
  AI/VCAI/Fuzzy.cpp
  AI/VCAI/Fuzzy.h
  AI/VCAI/Goals.cpp
  AI/VCAI/Goals.h
  AI/VCAI/VCAI.cpp
  AI/VCAI/VCAI.h
  AI/VCAI/main.cpp
Labels: enhancement

#447 Unittest improvements
  CMakeLists.txt
  test/CMakeLists.txt
  test/CVcmiTestConfig.cpp
  test/CVcmiTestConfig.h
  test/main.cpp
Labels: buildpkg, tests

#449 Exposed existing limiters for modders
  AUTHORS
  ChangeLog
  lib/CStack.cpp
  lib/CStack.h
  lib/HeroBonus.cpp
  lib/HeroBonus.h
  lib/JsonNode.cpp
  lib/battle/BattleInfo.cpp
  lib/registerTypes/RegisterTypes.h
Labels: lib, modding

#451 Remove compilation warnings
  AI/VCAI/VCAI.cpp
  client/CPlayerInterface.cpp
  client/battle/CBattleInterface.cpp
  lib/CGeneralTextHandler.cpp
  lib/rmg/CRmgTemplateZone.cpp
  server/CVCMIServer.cpp
Labels: enhancement
