Repository vcmi/vcmi, pull requests merged in 2018-03, with the labels that each got.

#423 Configure JSON merge behaviour via #override flag
  lib/JsonDetail.cpp
  lib/JsonNode.cpp
  lib/JsonNode.h
  lib/serializer/CSerializer.h
Labels: lib

#425 Catapult rework
  client/battle/CBattleInterface.cpp
  lib/spells/effects/Catapult.cpp
  server/CGameHandler.cpp
Labels: battle

#427 Extend Bonus.addInfo to integer vector
  config/creatures/dungeon.json
  config/schemas/bonus.json
  lib/CGameState.cpp
  lib/HeroBonus.cpp
  lib/HeroBonus.h
  lib/JsonNode.cpp
  lib/JsonNode.h
  lib/battle/CBattleInfoCallback.cpp
  lib/serializer/CSerializer.h
  lib/spells/effects/Timed.cpp
  server/CGameHandler.cpp
Labels: enhancement, lib

#434 Bugfix for last CAddInfo bugfix
  lib/HeroBonus.cpp
Labels: bug

#433 Make bonus stacking configurable + fix duplicate propagation/inheritance
  client/CMT.cpp
  config/artifacts.json
  config/creatures/castle.json
  config/creatures/inferno.json
  config/creatures/necropolis.json
  config/schemas/bonus.json
  lib/HeroBonus.cpp
  lib/HeroBonus.h
  lib/JsonNode.cpp
  lib/JsonNode.h
  lib/serializer/CSerializer.h
  test/mock/mock_BonusBearer.cpp
Labels: bug, enhancement, lib

#438 Allow the creation of new secondary skills
  ChangeLog
  client/Graphics.cpp
  config/schemas/skill.json
  lib/CHeroHandler.cpp
  lib/CHeroHandler.h
  lib/CModHandler.cpp
  lib/CSkillHandler.cpp
  lib/CSkillHandler.h
  lib/HeroBonus.cpp
  lib/IHandlerBase.h
  lib/mapObjects/CGHeroInstance.cpp
  lib/mapObjects/CGMarket.cpp
  lib/mapObjects/CGPandoraBox.cpp
  lib/mapObjects/CQuest.cpp
  lib/mapObjects/MiscObjects.cpp
  lib/mapping/CMap.cpp
  lib/mapping/MapFormatH3M.cpp
  lib/mapping/MapFormatJson.cpp
  lib/serializer/CSerializer.h
  lib/spells/CSpellHandler.cpp
  lib/spells/CSpellHandler.h
Labels: enhancement
