Repository vcmi/vcmi, pull requests merged in 2024-01, with the labels that each got.

#3298 Fixes to hero / prison distribution
  cmake_modules/VCMI_lib.cmake
  lib/mapping/CMap.cpp
  lib/mapping/CMap.h
  lib/rmg/CMapGenerator.cpp
  lib/rmg/CMapGenerator.h
  lib/rmg/RmgMap.cpp
  lib/rmg/modificators/ObjectDistributor.cpp
  lib/rmg/modificators/PrisonHeroPlacer.cpp
  lib/rmg/modificators/PrisonHeroPlacer.h
  lib/rmg/modificators/QuestArtifactPlacer.cpp
  lib/rmg/modificators/QuestArtifactPlacer.h
  lib/rmg/modificators/TreasurePlacer.cpp
  lib/rmg/modificators/TreasurePlacer.h
  mapeditor/mapcontroller.cpp
Labels: rmg

#3544 Do not place zone guards adjacent to 3rd zone
  lib/rmg/modificators/ConnectionsPlacer.cpp
Labels: rmg

#3541 Fix inspector randomly using wrong editor(delegate) for some fields
  mapeditor/inspector/inspector.h
Labels: editor

#3554 Fix invalid logic which made AI not attack guards
  lib/pathfinder/PathfindingRules.cpp
Labels: bug, vcai, advmap, nullkillerai
