Repository vcmi/vcmi, pull requests merged in 2024-05, with the labels that each got.

#3869 Do not place guards near roads
  lib/rmg/RmgObject.cpp
  lib/rmg/RmgObject.h
  lib/rmg/modificators/ObjectManager.cpp
  lib/rmg/modificators/ObstaclePlacer.cpp
  lib/rmg/modificators/RoadPlacer.cpp
  lib/rmg/modificators/RoadPlacer.h
  lib/rmg/modificators/RockFiller.cpp
  lib/rmg/modificators/RockPlacer.cpp
  lib/rmg/modificators/TreasurePlacer.cpp
Labels: enhancement, rmg

#3759 creature/town description
  client/widgets/MiscWidgets.cpp
  client/windows/CCastleInterface.cpp
  client/windows/CCreatureWindow.cpp
  client/windows/CCreatureWindow.h
  client/windows/CKingdomInterface.cpp
  config/schemas/creature.json
  config/schemas/faction.json
  docs/modders/Entities_Format/Creature_Format.md
  docs/modders/Entities_Format/Faction_Format.md
  lib/CCreatureHandler.cpp
  lib/CCreatureHandler.h
  lib/CTownHandler.cpp
  lib/CTownHandler.h
Labels: enhancement, modding

#3902 Option to define surface or underground level for obstacle set
  docs/modders/Entities_Format/Biome_Format.md
  lib/mapObjects/ObstacleSetHandler.cpp
  lib/mapObjects/ObstacleSetHandler.h
  lib/rmg/modificators/ObstaclePlacer.cpp
Labels: modding, rmg
