Repository vcmi/vcmi, pull requests merged in 2024-07, with the labels that each got.

#4223 Route roads even further away from zone boundary
  lib/rmg/modificators/RoadPlacer.cpp
Labels: rmg

#4239 changed to signature based file validation (gog installer)
  launcher/firstLaunch/firstlaunch_moc.cpp
Labels: launcher

#4238 treat manually selected/dropped file as a file path instead of URL
  launcher/modManager/cmodlistview_moc.cpp
  launcher/modManager/cmodlistview_moc.h
Labels: launcher, android

#4249 call Install From File button handler asynchronously
  launcher/modManager/cmodlistview_moc.cpp
Labels: launcher, iOS
