Repository vcmi/vcmi, pull requests merged in 2024-03, with the labels that each got.

#3651 remove no longer used slot
  launcher/settingsView/csettingsview_moc.cpp
  launcher/settingsView/csettingsview_moc.h
Labels: launcher

#3595 NKAI Object graph
  AI/Nullkiller/AIGateway.cpp
  AI/Nullkiller/AIUtility.h
  AI/Nullkiller/Analyzers/DangerHitMapAnalyzer.cpp
  AI/Nullkiller/Analyzers/ObjectClusterizer.cpp
  AI/Nullkiller/Analyzers/ObjectClusterizer.h
  AI/Nullkiller/Behaviors/CaptureObjectsBehavior.cpp
  AI/Nullkiller/Behaviors/ClusterBehavior.cpp
  AI/Nullkiller/Behaviors/DefenceBehavior.cpp
  AI/Nullkiller/CMakeLists.txt
  AI/Nullkiller/Engine/Nullkiller.cpp
  AI/Nullkiller/Engine/Nullkiller.h
  AI/Nullkiller/Engine/Settings.cpp
  AI/Nullkiller/Engine/Settings.h
  AI/Nullkiller/Goals/AdventureSpellCast.cpp
  AI/Nullkiller/Pathfinding/AINodeStorage.cpp
  AI/Nullkiller/Pathfinding/AINodeStorage.h
  AI/Nullkiller/Pathfinding/AIPathfinder.cpp
  AI/Nullkiller/Pathfinding/AIPathfinder.h
  AI/Nullkiller/Pathfinding/AIPathfinderConfig.cpp
  AI/Nullkiller/Pathfinding/AIPathfinderConfig.h
  AI/Nullkiller/Pathfinding/ObjectGraph.cpp
  AI/Nullkiller/Pathfinding/ObjectGraph.h
  AI/Nullkiller/Pathfinding/Rules/AIMovementAfterDestinationRule.cpp
  AI/Nullkiller/Pathfinding/Rules/AIMovementAfterDestinationRule.h
  AI/Nullkiller/Pathfinding/Rules/AIMovementToDestinationRule.cpp
  AI/Nullkiller/Pathfinding/Rules/AIMovementToDestinationRule.h
  Global.h
  client/ClientCommandManager.cpp
  client/ClientCommandManager.h
  client/mapView/MapView.cpp
  lib/CMakeLists.txt
  lib/logging/VisualLogger.cpp
  lib/logging/VisualLogger.h
Labels: nullkillerai

#3688 Fix penrose tiling
  lib/mapping/CMap.cpp
  lib/rmg/CZonePlacer.cpp
  lib/rmg/PenroseTiling.cpp
  lib/rmg/PenroseTiling.h
  lib/rmg/RmgMap.cpp
  lib/rmg/RmgMap.h
Labels: bug, rmg

#3689 Fix rmg race conditions
  lib/rmg/CMapGenerator.cpp
  lib/rmg/CZonePlacer.cpp
  lib/rmg/Functions.cpp
  lib/rmg/Zone.cpp
  lib/rmg/Zone.h
  lib/rmg/modificators/ConnectionsPlacer.cpp
  lib/rmg/modificators/ConnectionsPlacer.h
  lib/rmg/modificators/Modificator.cpp
  lib/rmg/modificators/ObjectManager.cpp
  lib/rmg/modificators/ObstaclePlacer.cpp
  lib/rmg/modificators/RiverPlacer.cpp
  lib/rmg/modificators/RoadPlacer.cpp
  lib/rmg/modificators/RockFiller.cpp
  lib/rmg/modificators/RockPlacer.cpp
  lib/rmg/modificators/TerrainPainter.cpp
  lib/rmg/modificators/TownPlacer.cpp
  lib/rmg/modificators/TreasurePlacer.cpp
  lib/rmg/modificators/WaterAdopter.cpp
  lib/rmg/modificators/WaterProxy.cpp
  lib/rmg/modificators/WaterRoutes.cpp
Labels: bug, rmg
